/* corpo */
main button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 200px;
    background-color: #1b3571;
    color: white;
    border: outset;
    border-color: #090F15;
    padding: 12px;
    margin: 10px auto 0;
    cursor: pointer;
}
main button[type="submit"] {
    transition: 0.2s ease-in-out;
}
main button[type="submit"]:active {
    border: inset;
    background-color: #1700F4;
    transform: translateY(-2px) 
}
/* Classes do corpo do lançamento */
.texto-promocional {
    flex: 0 0 300px;
    padding-right: 20px;
}
.texto-promocional {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin: 20px 100px;
    text-align: left;
}
.video-promocional {
    flex: 1;
    min-width: 0;
}
.video-promocional iframe {
    width: 90%;
    height: 500px;
    border-radius: 8px;
    border: none;
}
/* tabela do lançamento (Classes) */
.tabela-carro {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;    
}
.veiculo-card {
    width: 250px;
    padding: 15px;
    margin: 10px;
}
.veiculo-card img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}
.veiculo-informacao {
    display: flex;
    align-items: flex-start;
}
.veiculo-informacao input[type="checkbox"] {
    width: 30px;
    height: 30px;
    min-width: 20px;
    border-radius: 4px;
    border: 1px solid #000;
    margin: 2px 10px 0 0;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
}
.veiculo-informacao img {
    width: 20px;
    margin-top: auto;
    vertical-align: bottom;
}
.texto-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.texto-container h5 {
    margin: 0;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: #1351d8;
}
.texto-container p {
    margin: 0;
    font-size: 11px;
    text-align: left;
    color: #000;
}
