/* corpo do lançamento */
/* classes do corpo */

.cabine-simples,
.xls-diesel,
.storm-diesel {
    margin: 10px;
    flex: 1 1 300px;
    max-width: 350px;
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;
}

